:root {
  --primary-color: #ffeedf;
  --secondary-color: #145434;
}

* {
  font-family: "Space Grotesk", sans-serif;
}

html,
body {
  margin: 0;
  background-color: var(--primary-color);
}


header {
  display: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--secondary-color);
}

nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: var(--primary-color);
}

button {
  width: 200px;
  height: 50px;
  font-size: 14px;
  border: 2px solid var(--secondary-color);
  border-radius: 0;
  background-color: var(--primary-color);
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(10px, 10px);
}

button:hover {
    background-color: #145434;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

hr {
  color: var(--primary-color);
}

/* Class Selecors */

/* NAV */

.menu-icon,
.logo-caption {
  font-size: 36px;
}

/* BODY WRAPPER */

.body-wrapper {
    display: flex;
    justify-content: center;
    margin: 60px;
}

/* CARD WRAPPER */

.card-wrapper {
  max-width: 1200px;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
}

/* CARD */

.card {
  width: 350px;
  
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 40px;
  position: relative;
}

@media (max-width: 350px) {
    .card {
      /* Allow the card to shrink */
      margin: 10px; /* Add some margin for spacing */
    }
  }

.top-left {
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);

}

.title {
  font-size: 36px;
}

.sub {
  font-size: 18px;
  margin: 0;
}

.text {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

button > span {
  font-size: 36px;
  position: absolute;
  right: 0;
}
